<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{name}}</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
    <script>
      const order = localStorage.order
    </script>
		<header>
			<h1><a href="/">Book Store</a></h1>
			{{#if authorised}}
				<a href="/logout">Log out</a>
			{{else}}
				<a href="/login">Log in</a>
			{{/if}}
		</header>
    <main>
      {{#if order}}
        <section class="row">
          <ol>
            {{#each order.items}}
              <li>
                {{item.name}} - {{item.qty}} - {{item.price}} - <a onclick="alert('Item removed!!')">Remove</a>
              </li>
            {{/each}}
          </ol>
          <p>
            Total Amount: {{order.amount}}
          </p>
          <a onclick="alert('Checked out!!')">Checkout</a>
        </section>
      {{/if}}
    </main>
	</body>
</html>
