
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<h1>Book Store</h1>
			{{#if authorised}}
				<a href="/logout">Log out</a>
			{{else}}
				<a href="/login">Log in</a>
			{{/if}}
		</header>
    <main>
      <section class="cards">
        {{#if books}}
        {{#each books}}
          <a class="card" href="/book/{{id}}">
            <img class="bookthumbs" src="images/{{image}}" alt="thumbnail of {{name}}" height="200px"/>
            <p class="bookname">{{name}}</p>
            <p class="author">by {{author}}</p>
            {{#each types}}
            <p class="price">£{{price}}</p>
            {{/each}}
          </a>
        {{/each}}
      {{/if}}
      </section>
    </main>
	</body>
</html>
